<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <app-side-bar></app-side-bar>


    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <app-header></app-header>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
            <!-- Form elements goes here -->
            <div class="content_box">

              <div class="right_bar ">
                <!-- <button >Group Selected Warehouses </button> -->
                <input type="submit" value="Create Group" [disabled]="wareHouseCheckedArr.length==0"
                  class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
                <div class="tab-content ">
                  <div class="tab-pane fade show active" id="lorem" role="tabpanel">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Warehouse Name</th>
                          <th>House No</th>
                          <th>Address Line</th>
                          <th>State</th>
                          <th>Land Mark</th>
                          <th>Zipcode</th>
                          <!-- <th>Select</th>
                      <th>Select</th> -->
                          <th>Select</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let warehouse of Warehouses | paginate:{id:'listing_pagination', 
                        itemsPerPage: 10, 
                        currentPage:page,
                        totalItems:totalRecords  
                    };let i =index">
                          <td>{{warehouse.warehouseName}}</td>
                          <td>{{warehouse.address.houseNo}}</td>
                          <td>{{warehouse.address.addressLine1}}</td>
                          <td>{{warehouse.address.state}}</td>
                          <td>{{warehouse.address.landMark}}</td>
                          <td>{{warehouse.address.zipCode}}</td>


                          <td class='text-center'><input type="checkbox" [value]="warehouse.warehouseName"
                              (change)="onCheckboxChange($event)"></td>




                        </tr>

                      </tbody>

                    </table>
                  </div>

                  <div class="text-right">
                    <pagination-controls id="listing_pagination" class="text-right" *ngIf="totalRecords>10"
                      maxSize="10" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>



            <div class="container">

              <!-- Trigger the modal with a button -->


              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form class="form-horizontal" id="myForm" [formGroup]="modalForm">

                      <div class="modal-header">
                        <h4>Create Warehouse Group</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                      </div>

                      <div class="modal-body">

                        <div class="form-group">
                          <label for="createWareHouseGroup">Enter Warehouse Group Name<span
                              class="required"><b>*</b></span></label><br />
                          <input type="text" class="form-control required" id="createWareHouseGroup"
                            name="createWareHouseGroup" #createWareHouseGroup matInput>
                        </div>
                        <div>
                          <ul start="1" *ngFor="let names of warehousenames">
                            <li>{{names}}</li>
                          </ul>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" id="save" class="btn btn-success"
                          (click)="createWGroup(createWareHouseGroup.value)" id="save"> Save</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>