<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <app-side-bar></app-side-bar>


    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <app-header></app-header>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="card text-left container my-4">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">S.No</th>
                  <th scope="col">Customer Group Name</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of customersAllGroupName  | paginate:{id:'listing_pagination',
                  itemsPerPage: 10, 
                  currentPage:page,
                  totalItems:totalRecords} ;  let i=index">
                  <th scope="row">{{10 *(page-1)+i+1}}</th>
                  <td>{{data.groupName}}</td>
                  <td>
                    <span [routerLink]="['/updategroupcustomer',data.groupId]"><i class="fas fa-user-edit"></i></span>
                  </td>
                  <td>
                    <span data-toggle="modal" (click)="deleteGroupCustomer(data.groupId)" data-target="#myModal"><i
                        class="fa fa-trash" aria-hidden="true"></i></span>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div>
            <pagination-controls id="listing_pagination" *ngIf="customersAllGroupName.length>10" maxSize="5"
              directionLinks="true" (pageChange)="page = $event"></pagination-controls>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>