<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <app-side-bar></app-side-bar>


    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <app-header></app-header>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="content_box">
            <div class="right_bar ">
              <div class="tab-content ">
                <div class="tab-pane fade show active" id="lorem" role="tabpanel">

                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Company</th>
                        <th>Phone</th>
                        <th>Pincode</th>
                        <th>Update</th>
                        <th>Delete</th>
                        <!-- <th>Select</th> -->

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let cust of customers.vendors  | paginate:{id:'listing_pagination', 
                        itemsPerPage: 10, 
                        currentPage:page,
                        totalItems:totalRecords  
                    };let i =index">
                        <th>{{10*(page-1)+i+1}}</th>
                        <td>{{cust.firstName}}</td>
                        <td>{{cust.lastName}}</td>
                        <td>{{cust.email}}</td>
                        <td>{{cust.company}}</td>
                        <td>{{cust.phone}}</td>
                        <td>{{cust.pincode}}</td>

                        <!-- <td class='text-center'  [routerLink]="['/vendorUpdate']" [queryParams]="{id: cust.id}"><a ><i class="fa fa-pencil-square-o"
                aria-hidden="true"></i> Update</a></td>
                <td class='text-center'><a (click)="deletecustomvendor(cust.id)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a></td> -->
                        <!-- <td class='text-center'><a [routerLink]="['/warehouseUpdate']" [state]="{'data':['konda']}"><i class="fa fa-pencil-square-o"
                aria-hidden="true"></i> Update</a></td> -->
                        <!-- <td class='text-center'><a [routerLink]="['/warehouseDelete']"><i class="fa fa-pencil-square-o"
                  aria-hidden="true"></i> Delete</a></td> -->


                        <td class="text-center ">
                          <span class="edit" [routerLink]="['/vendorUpdate/']" [queryParams]="{id: cust.id}">
                            <button type="button"> <i class="fas fa-user-edit"></i> </button>
                          </span>
                        </td>
                        <td>
                          <span class="delete" (click)="deletecustomvendor(cust.id)">
                            <button type="button"> <i class="fa fa-trash" aria-hidden="true"></i></button>
                          </span>
                        </td>

                        <!-- <td class='text-center' [routerLink]="['/warehouseUpdate']"
                          [queryParams]="{id: warehouse.warehouseCode}"><a><a ><i class="fa fa-pencil"></i></a> </a></td>
                        <td class='text-center'><a (click)="deletewarehouse(warehouse.warehouseCode)"><i class="fa fa-trash" aria-hidden="true"></i> </a></td> -->


                      </tr>

                    </tbody>

                  </table>
                </div>
                <pagination-controls id="listing_pagination" class="text-right" *ngIf="totalRecords>10" maxSize="10"
                  directionLinks="true" (pageChange)="page = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>