<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <app-side-bar></app-side-bar>


        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <app-header></app-header>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-md-6 costCenter">
                            <!-- cost center form -->
                            <div class="card-body">
                                <form [formGroup]="costCenterUpdateForm" (ngSubmit)="onSubmit()">

                                    <div class="form-row ">
                                        <div class="col-md-6">
                                            <label for="costCenterName">Cost Center Name <span
                                                    class="required">*</span></label>
                                            <input class="form-control" type="text" formControlName="costCenterName">
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm.costCenterName.errors?.required">
                                                Cost Center Name is required.
                                            </div>
                                        </div>



                                        <div class="col-md-6">
                                            <label for="costCenterCode">Cost Center Code <span
                                                    class="required">*</span></label>
                                            <input class="form-control" type="text" formControlName="costCenterCode">
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm.costCenterCode.errors?.required">
                                                Cost Center Code is required.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row ">
                                        <div class="col-md-6">
                                            <label for="phoneNumber">Phone Number <span
                                                    class="required">*</span></label>
                                            <input class="form-control" type="number" formControlName="phoneNumber">
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm.phoneNumber.errors?.required">
                                                Phone Number is required.
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="address">Address</label>
                                            <input class="form-control" type="text" formControlName="address">
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm.address.errors?.required">
                                                Address is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row form-group ocount">
                                        <div class="text-center col-md-12 col-lg-12 col-xs-6 col-sm-12">
                                            <button class="btn btn-success btn-md col-md-3 update"
                                                type="submit">Update</button>
                                            <button class="btn btn-md col-md-3 btn-danger"
                                                ng-click="cancel()">Cancel</button> </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>