<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <app-side-bar></app-side-bar>


        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <app-header></app-header>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="content_box">
                        <div class="right_bar ">
                            <div class="tab-content ">
                                <div class="tab-pane fade show active" id="lorem" role="tabpanel">

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Email</th>
                                                <th>Mobile Number</th>
                                                <th>State</th>
                                                <th>Company</th>
                                                <th>Details</th>
                                                <th>Check your Credit Limit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let vendor of Vendors.allCustomerInfo | paginate:{id:'listing_pagination', 
                                            itemsPerPage: 5, 
                                            currentPage:page,
                                            totalItems:totalRecords  
                                        };let i =index">
                                                <th>{{5*(page-1)+i+1}}</th>
                                                <td>{{vendor.firstName}}</td>
                                                <td>{{vendor.email}}</td>
                                                <td>{{vendor.phone}}</td>
                                                <td>{{vendor.state}}</td>
                                                <td>{{vendor.company}}</td>

                                                <td class='text-center' data-toggle="modal"
                                                    data-target=".bd-example-modal-lg"><a>
                                                        <button (click)="moreDetails(vendor.sales)"
                                                            class="btn btn-primary"> Credit Days</button></a></td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        data-target="#exampleModal" data-whatever="@mdo"
                                                        (click)="creditDetails(vendor.id,vendor.phone,vendor.creditLimit)">
                                                        Credit Limit</button>

                                                </td>

                                                <!-- <p *ngFor="let sale of vendor.sales;">
                                                {{sale.salesAmount}}
                                                {{sale.salesDate}}
                                                {{sale.creditDays}}
                                             </p> -->
                                            </tr>

                                        </tbody>

                                    </table>
                                </div>

                            </div>
                        </div>
                        <pagination-controls id="listing_pagination" class="text-right" *ngIf="totalRecords>5"
                            maxSize="10" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
                    </div>
                    

                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>SalesAmount</th>
                                            <th>SalesDate</th>
                                            <th>CreditDays</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let d of testData">
                                            <td>{{d.salesAmount}}</td>
                                            <td>{{d.salesDate}}</td>
                                            <td>{{d.creditDays}}</td>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                        data-whatever="@mdo" (click)="closeX()">Click Your Details</button> -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel">Credit Limit</h4>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="vendorForm" (ngSubmit)="onSubmit()">
                                        <!-- <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Customer Id</label>
                                            <input type="number" id="creditlimitId" class="form-control"
                                                onKeyPress="if(this.value.length==10) return false;" formControlName="creditlimitId"
                                                [ngClass]="{ 'is-invalid': submitted && f.creditlimitId.errors}">
                                            <div class="invalid-feedback" *ngIf="submitted && f.creditlimitId.errors?.required">
                                                Please enter a valid Id
                                            </div>
                                        </div> -->

                                        <span>
                                            <h5>Your ID: {{this.id}}</h5>
                                        </span> <span>
                                            <h5>PhoneNumber: {{this.phone}}</h5>
                                        </span>
                                        <span>
                                            <h5>Credit Limit: {{this.credit}}</h5>
                                        </span>
                                        <!-- <div> {{this.credit}}</div> -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <!-- <button type="submitted" class="btn btn-primary">Submit</button> -->
                                        </div>
                                    </form>
                                    <span style="color:green" id="creditlimit"> {{this.creditLimit}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
                        aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <label for="recipient-name" class="col-form-label">Credit Limit</label>
                            <div class="modal-content">

                            </div>
                        </div>
                    </div>
                    <button style="margin-left: 70px;" type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#creditlimitUpdate" data-whatever="@mdo">Credit Limit Update</button>
                    <!-- Modal -->
                    <div class="modal fade" id="creditlimitUpdate" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Update Credit Amount </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <form [formGroup]="creditupdateform" (ngSubmit)="onSubmitCreditUpdate()">
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Customer Id</label>
                                            <input type="number" class="form-control"
                                                onKeyPress="if(this.value.length==10) return false;" id="CustmerId"
                                                formControlName="customerId">

                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Credit Amount</label>
                                            <input type="number" class="form-control"
                                                onKeyPress="if(this.value.length==10) return false;" id="CreditA"
                                                formControlName="creditamount">

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="submitted" class="btn btn-primary">update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button style="margin-left: 70px;" type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#updatecreditdays">
                        Update Credit days
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="updatecreditdays" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel1">Update Credit Days</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <form [formGroup]="creditupdatedaysform" (ngSubmit)="onSubmitUpdatedays()">
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Sales Id</label>
                                            <input type="text" class="form-control" formControlName="salesId">
                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Credit Days</label>
                                            <input type="text" class="form-control" formControlName="creditDays">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="submitted" class="btn btn-primary">update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>