<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <app-side-bar></app-side-bar>


    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <app-header></app-header>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="container">
            <!-- <div class="scrollbar"> -->
            <!-- Cost center data -->
            <table class="table table-bordered">
              <thead>
                <tr>
                  <!-- <th scope="col">Id</th> -->
                  <th>S.No</th>
                  <th scope="col">Cost Center Name</th>
                  <th scope="col">Cost Center Code</th>
                  <th scope="col">Phone Number</th>
                  <th scope="col">Address</th>
                  <th scope="col">Update</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody class="tbody">
                <tr *ngFor="let costcentermodel of Costcentermodel.cost| paginate:{id:'listing_pagination', 
                  itemsPerPage: 10, 
                  currentPage:page,
                  totalItems:totalRecords  
              };let i =index">
                   <td>{{10 *(page-1)+i+1}}</td>
              <!-- <th scope="row">{{costcentermodel._id}}</th> -->
                  <td>{{costcentermodel.costCenterName}}</td>
                  <td>{{costcentermodel.costCenterCode}}</td>
                  <td>{{costcentermodel.phoneNumber}}</td>
                  <td>{{costcentermodel.address}}</td>

                  <td class="text-center edit-block">
                    <span class="edit" [routerLink]="['/costCenterUpdate']" [queryParams]="{id: costcentermodel.id}">
                      <button type="button"> <i class="fas fa-user-edit"></i> </button>
                    </span>
                  </td>
                  <td>
                    <span class="delete" (click)="deleteCostCenter(costcentermodel)">
                      <button type="button"> <i class="fa fa-trash" aria-hidden="true"></i> </button>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- </div> -->
          </div>
          <pagination-controls id="listing_pagination" class="text-right" *ngIf="totalRecords>10"
            maxSize="10" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</body>