<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/']">
        <div class="sidebar-brand-icon rotate-n-15">
            <img src="assets/img/small-logo.png" alt="Onpassive" class="img-responsive">
        </div>
        <div class="sidebar-brand-text mx-3">onpassive <sup></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/dashboard']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-user"></i>
            <span>Accountant</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Accountent Components:</h6>
                <a class="collapse-item" href="">Invoice</a>
                <a class="collapse-item" href="">Customer</a>
                <a class="collapse-item" href="">Receipt</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Sales" aria-expanded="true"
            aria-controls="Sales">
            <i class="fas fa-file-invoice"></i>
            <span>Sales</span>
        </a>
        <div id="Sales" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Invoice Utilities:</h6>
                <a class="collapse-item" href="">Invoice</a>
                <a class="collapse-item" href="">Receipt</a>
                <a class="collapse-item" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample"><span>customer</span></a>
                <ul class="navbar-nav  collapse" id="collapseExample">
                    <li class="nav-item">
                        <a class="collapse-item" class="collapse-item" [routerLink]="['/customer-add']">customer-add</a>
                    </li>
                    <li class="nav-item">
                        <a class="collapse-item" [routerLink]="['/customer-view']">customer-view</a>
                    </li>
                    <li class="nav-item">
                        <a class="collapse-item" [routerLink]="['/customergroup']">customer-grouping</a>
                    </li>
                    <li class="nav-item">

                        <a class="collapse-item" [routerLink]="['/customergroupingview']">customergrouping-iew</a>
                    </li>
                </ul>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#purchase" aria-expanded="true"
            aria-controls="purchase">
            <i class="fas fa-shopping-cart"></i>
            <span>Purchase</span>
        </a>
        <div id="purchase" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">purchase detailes:</h6>
                <a class="collapse-item">P Invoice</a>
                <a class="collapse-item">Payments</a>
                <a class="collapse-item" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample"><span>Vendors</span></a>
                <ul class="navbar-nav  collapse" id="collapseExample">
                    <li class="nav-item">
                        <a class="collapse-item" [routerLink]="['/vendorAdd']">Vendor Add</a>
                    </li>
                    <li class="nav-item">
                        <a class="collapse-item" [routerLink]="['/vendorView']">Vendor View</a>
                    </li>
                    <li class="nav-item">
                        <a class="collapse-item" [routerLink]="['/creditlimit']">Credit Days</a>
                    </li>
                </ul>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#product" aria-expanded="true"
            aria-controls="product">
            <i class="fab fa-product-hunt"></i>
            <span>Product &amp; Services</span>
        </a>
        <div id="product" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">product and services:</h6>
                <a class="collapse-item" data-toggle="collapse" href="#productservices" aria-expanded="false"
                    aria-controls="productservices">Inventory</a>
                <ul class="navbar-nav  collapse" id="productservices">
                    <li class="nav-item">
                        <a class="collapse-item" [routerLink]="['/productmaster-add']">Product Master Add</a>
                    </li>
                    <li class="nav-item">
                        <a class="collapse-item" [routerLink]="['/productmaster-view']">Product Master View</a>
                    </li>

                </ul>
                <a class="collapse-item" [routerLink]="">Non Inventory</a>
                <a class="collapse-item" [routerLink]="">Services</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#costcenter" aria-expanded="true"
            aria-controls="costcenter">
            <i class="fas fa-dollar-sign"></i>
            <span>Cost Center</span>
        </a>
        <div id="costcenter" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Cost Center Utilities:</h6>
                <a class="collapse-item" [routerLink]="['/costCenterAdd']">Costcenter add</a>
                <a class="collapse-item" [routerLink]="['/costCenterView']">Costcenter view</a>
                <a class="collapse-item" [routerLink]="['/costCenterGrouping']">Cost Center Grouping</a>
                <a class="collapse-item" [routerLink]="['/costCenterGroupingView']">Costcenter grouping View </a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#chat" aria-expanded="true"
            aria-controls="chat">
            <i class="far fa-chart-bar"></i>
            <span>Chart Of Accounts</span>
        </a>
        <div id="chat" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Chart Of Accounts Utilities:</h6>
                <a class="collapse-item" [routerLink]="['/chartAccount']">Chart Of Accounts</a>
                <a class="collapse-item" [routerLink]="['/expense']">Expenses</a>
                <a class="collapse-item" href="#">Account Payable</a>
                <a class="collapse-item" href="#">Account Receivable</a>
                <a class="collapse-item" href="#">Income</a>
                <a class="collapse-item" href="#">Liability</a>

            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Warehouse" aria-expanded="true"
            aria-controls="Warehouse">
            <i class="fas fa-warehouse"></i>
            <span>Warehouse</span>
        </a>
        <div id="Warehouse" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" [routerLink]="['/register']">Warehouse Add</a>
                <a class="collapse-item" [routerLink]="['/warehouselist']">Warehouse View</a>
                <a class="collapse-item" [routerLink]="['/warehouseUpdate']">Warehouse Update</a>
                <a class="collapse-item" [routerLink]="['/warehouseGrouping']">Warehouse Grouping</a>
                <a class="collapse-item" [routerLink]="['/WHouseGroupListView']">Warehouse Grouping View</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" 
            aria-expanded="true">
            <i class="fas fa-bug"></i>
            <span>Reports</span>
        </a>
    </li>



    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->