<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <app-side-bar></app-side-bar>


        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <app-header></app-header>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="signup-form">
                        <form #updatecustomerForm="ngForm" (ngSubmit)="updatecustomerGroup(updatecustomerForm.value)">
                            <h2>Update </h2>
                            <hr>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="customer group name"
                                        name="groupName" id="groupName" ngModel="{{this.customerGroupName}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Update</button>&nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn-lg cancel-button" (click)="cancel()">Cancel</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>