<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <app-side-bar></app-side-bar>


    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <app-header></app-header>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="conatiner">
            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">

              <thead>
                <tr>
                  <!-- <th class="th-sm">Group Id</th> -->

                  <th class="th-sm">Warehouse Group Name</th>
                  <!-- <th class="th-sm">GroupCreated On</th> -->
                  <th class="th-sm">List of Warehouse Group</th>
                  <th class="th-sm">Action</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of allWareHouseGroupData | paginate: { itemsPerPage: count, currentPage: p }">
                  <!-- <td>{{data.groupId}}</td> -->
                  <td>{{data.warehouseGroupName}}</td>

                  <td>


                    <button type="button" class="btn btn-success btn-sm" (click)="list(data.warehousesInGroups)"
                      data-toggle="modal" data-target="#demo">
                      Warehouses in Group</button>

                  </td>
                  <td class='text-center'><button class="btn btn-sm btn-danger"
                      (click)="deletewarehouseGroup(data.groupId)">Delete</button>
                  </td>

                </tr>

              </tbody>

            </table>
          </div>

          <div class="text-right">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
          <div class="modal fade" id="demo" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">List of WareHouse's</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div *ngFor="let td of testData" align="center">
                    <span>{{td.warehouseName}}</span>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>