<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <app-side-bar></app-side-bar>


    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <app-header></app-header>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="content_box">

            <div class="right_bar ">
              <div class="tab-content ">
                <div class="tab-pane fade show active" id="lorem" role="tabpanel">

                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Warehouse Name</th>
                        <th>House No</th>
                        <th>Address Line</th>
                        <th>State</th>
                        <th>Land Mark</th>
                        <th>Zipcode</th>
                        <th>Update</th>
                        <th>Delete</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let warehouse of Warehouses| paginate:{id:'listing_pagination',
                        itemsPerPage: 10, 
                        currentPage:page,
                        totalItems:totalRecords} ; let i =index">
                        <th>{{10 *(page-1)+i+1}}</th>
                        <td>{{warehouse.warehouseName}}</td>
                        <td>{{warehouse.address.houseNo}}</td>
                        <td>{{warehouse.address.addressLine1}}</td>
                        <td>{{warehouse.address.state}}</td>
                        <td>{{warehouse.address.landMark}}</td>
                        <td>{{warehouse.address.zipCode}}</td>

                        <td class='text-center' [routerLink]="['/warehouseUpdate']"
                          [queryParams]="{id: warehouse.warehouseCode}"><a><i class="fas fa-user-edit"></i> </a></td>
                        <td class='text-center'><button type="button"
                            (click)="deletewarehouse(warehouse.warehouseCode)"><i class="fa fa-trash"
                              aria-hidden="true"></i> </button></td>
                        <!-- <td class='text-center'><a [routerLink]="['/warehouseUpdate']" [state]="{'data':['konda']}"><i class="fa fa-pencil-square-o"
                      aria-hidden="true"></i> Update</a></td> -->
                        <!-- <td class='text-center'><a [routerLink]="['/warehouseDelete']"><i class="fa fa-pencil-square-o"
                        aria-hidden="true"></i> Delete</a></td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
                <pagination-controls id="listing_pagination" class="text-right" *ngIf="totalRecords>10"
                  maxSize="10" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>