<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <app-side-bar></app-side-bar>
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <app-header></app-header>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="content_box">
                        <div class="right_bar ">
                            <div class="tab-content ">
                                <div class="tab-pane fade show active" id="lorem" role="tabpanel">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Customer Name</th>
                                                <th>Company</th>

                                                <th>Phone</th>
                                                <th>Email</th>

                                                <th>Fax</th>
                                                <th>Notes</th>
                                                <th>View Details</th>
                                                <th>Update</th>
                                                <th>Delete</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let customermodel of customerinfo.allCustomerInfo  | paginate:{id:'listing_pagination',
                                            itemsPerPage: 10, 
                                            currentPage:page,
                                            totalItems:totalRecords} ; let i = index">
                                                <th>{{10*(page-1)+i+1}}</th>
                                                <td>{{customermodel.firstName }} {{ customermodel.lastName}}</td>
                                                <td>{{customermodel.company}}</td>
                                                <td>{{customermodel.phone}}</td>
                                                <td>{{customermodel.email}}</td>
                                                <td>{{customermodel.fax}}</td>
                                                <td>{{customermodel.notes}}</td>
                                                <td class='text-center'><a data-toggle="modal"
                                                        (click)="getCustomerDetailesbyId(customermodel.id)"
                                                        data-target="#myModal"><a><i class="fa fa-eye"></i></a> </a>
                                                </td>

                                                <td class='text-center'
                                                    [routerLink]="['/customer-update/', customermodel.id]">
                                                    <a><i class="fas fa-user-edit"></i> </a></td>
                                                <td class='text-center'><a data-toggle="modal"
                                                        data-target="#deleteModal"
                                                        (click)="delete(customermodel.id)"><i
                                                            class="fa fa-trash" aria-hidden="true"></i> </a></td>
                                            </tr>

                                        </tbody>

                                    </table>
                                </div>
                                <div>
                                    <pagination-controls id="listing_pagination" *ngIf="totalRecords>10" maxSize="5"
                                        directionLinks="true" (pageChange)="page = $event"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</body>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="text-align: center;font-weight: bold;color:green;"
                    id="exampleModalLabel">Customer Details</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                        aria-hidden="true">×</span></button>

            </div>
            <div class="modal-body ">
                <div class="container ">
                    <div class="row ">
                        <div class="col ">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">User Details</h6>
                                </div>
                                <div class="card-body">
                                    <div class="form-group ">
                                        <label for="usr "> First Name : <span class="badge badge-pill badge-success">
                                                {{this.firstName}}</span></label>
                                    </div>
                                    <div class="form-group ">
                                        <label for="usr "> Last name : <span class="badge badge-pill badge-success">
                                                {{this.lastName}}</span></label>
                                    </div>
                                    <div class="form-group ">
                                        <label for="usr "> User Email : <span class="badge badge-pill badge-success">
                                                {{this.email}}</span></label>
                                    </div>
                                    <div class="form-group ">
                                        <label for="usr "> Phone Number : <span class="badge badge-pill badge-success ">
                                                {{this.phone}}</span></label>
                                    </div>
                                    <div class="form-group ">
                                        <label for="usr "> GST Registration Type : <span
                                                class="badge badge-pill badge-success ">
                                                {{this.gstRegistrationType}} </span></label>
                                    </div>
                                    <div class="form-group ">
                                        <label for="usr "> Company Name : <a class="badge badge-pill badge-success "
                                                target="_blank ">{{this.company}}</a></label>
                                    </div>
                                    <div class="form-group ">
                                        <label for="usr "> Note: <span class="badge badge-pill badge-success ">
                                                {{this.notes}}</span></label>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="col ">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Address Details</h6>
                                </div>
                                <div class="card-body">
                                    <div class="form-group ">
                                        <label for="usr "> address: <span class="badge badge-pill badge-success ">
                                                {{this.adds}} </span></label>
                                    </div>
                                    <div class="form-group ">
                                        <label for="usr "> City: <span class="badge badge-pill badge-success ">
                                                {{this.city}}</span></label>
                                    </div>
                                    <div class="form-group ">
                                        <label for="usr "> State: <span class="badge badge-pill badge-success ">
                                                {{this.state}} </span></label>
                                    </div>
                                    <div class="form-group ">
                                        <label for="usr "> fax: <span class="badge badge-pill badge-success ">
                                                {{this.fax}} </span></label>
                                    </div>
                                    <div class="form-group ">
                                        <label for="usr "> PinCode: <span class="badge badge-pill badge-success ">
                                                {{this.pincode}} </span></label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<!-- <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this Customer
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="delete()">delete customer</button>
            </div>
        </div>
    </div>
</div> -->