<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <app-side-bar></app-side-bar>


    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <app-header></app-header>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="card text-left container my-4" style="width: 30rem;padding-top: px;">
            <form [formGroup]="form" (ngSubmit)="submit()">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" formArrayName="customers" *ngFor="let customer of selectedCustomersArray.controls  | paginate:{id:'listing_pagination', 
                    itemsPerPage: 10, 
                    currentPage:page,
                    totalItems:totalRecords  
                }; let i = index;">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" [formControlName]="i" id="check{{i}}">
                      <label class="custom-control-label" for="check{{i}}"> {{checkboxesDataList[i].firstName}}
                        {{checkboxesDataList[i].lastName}}</label>
                    </div>
                  </li>
                </ul>

                <button type="submit" class="btn btn-primary pull-right custmmarg" data-toggle="modal"
                  data-target="#customergroup">Group customers</button>
              </div>
            </form>
            <div class="text-right">
              <pagination-controls id="listing_pagination" class="text-right" *ngIf="totalRecords>20" maxSize="10"
                directionLinks="true" (pageChange)="page = $event"></pagination-controls>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="customergroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Create Customer Group</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form #customerForm="ngForm" (ngSubmit)="onFormSubmit(customerForm)">
                    <div class="form-group">
                      <label for="formGroupExampleInput">Customer Group Name</label>
                      <input class="form-control" name="groupName" [ngModel]="customerGroupModel.groupName" required
                        [pattern]="unamePattern" placeholder="customer group name" #gName="ngModel">
                      <span *ngIf="gName.errors && customerForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
                       
                      </span>
                    </div>

                    <div class="form-group">
                      <label for="comment">Customers names:</label>
                      <span class="badge badge-pill badge-success" *ngFor="let customer of selectedCustomers  | paginate:{id:'listing_pagination', 
                        itemsPerPage: 20, 
                        currentPage:page,
                        totalItems:totalRecords  
                    }; ">{{customer.firstName}}
                        {{customer.lastName}}</span>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </form>
                  <span style="color:red">{{validationMessage}}</span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>