<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <app-side-bar></app-side-bar>


        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <app-header></app-header>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- customer form   -->
                    <div class="card-body">
                        <div class="cotainer">
                            <form [formGroup]="updateCustomerForm" (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="firstName">FirstName <span class="required">*</span></label>
                                            <input class="form-control" type="text" formControlName="firstName"
                                                [ngClass]="{ 'is-invalid': submitted && myForm.firstName.errors}">
                                            <!-- error -->
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm.firstName.errors?.required">
                                                FirstName is required.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-3">
                            <div class="form-group">
                                <label for="MIDDEL NAME">Middle name <span class="required"></span></label>
                                <input class="form-control" type="text">
                            </div>
                        </div> -->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="lastName">LastName <span class="required">*</span></label>
                                            <input class="form-control" type="text" formControlName="lastName"
                                                [ngClass]="{ 'is-invalid': submitted && myForm.lastName.errors}">
                                            <!-- error -->
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm.lastName.errors?.required">
                                                LastName is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input class="form-control" type="email" formControlName="email"
                                                [ngClass]="{ 'is-invalid': submitted && myForm.email.errors}"
                                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                                            <!-- error -->

                                            <div *ngIf="submitted && myForm.email.errors" class="invalid-feedback">
                                                <div *ngIf="myForm.email.errors.required">Please enter a valid Email
                                                </div>
                                                <div *ngIf="myForm.email.errors.pattern">please entere a valid Email
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="phone">Phone</label>
                                            <input class="form-control" type="number" formControlName="phone"
                                                [ngClass]="{ 'is-invalid': submitted && myForm.phone.errors}"
                                                onKeyPress="if(this.value.length==10) return false;">
                                            <!-- error -->
                                            <div *ngIf="submitted && myForm.phone.errors" class="invalid-feedback">
                                                <div *ngIf="myForm.phone.errors.required">Please entere a valid Phone
                                                    Number
                                                </div>
                                                <div *ngIf="myForm.phone.errors.pattern">Please entere a valid Phone
                                                    Number
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="company">Company <span class="required">*</span></label>
                                            <input class="form-control" type="text" formControlName="company"
                                                [ngClass]="{ 'is-invalid': submitted && myForm.company.errors}">
                                            <!-- error -->
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm.company.errors?.required">
                                                Company is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">

                                        <div class="form-group">
                                            <label for="displayNameAs">DisplayNameAs <span
                                                    class="required">*</span></label>
                                            <input class="form-control" type="text" formControlName="displayNameAs"
                                                [ngClass]="{ 'is-invalid': submitted && myForm.displayNameAs.errors}">
                                            <!-- error -->
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm.displayNameAs.errors?.required">
                                                DisplayNameAs is required.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="fax">Fax</label>
                                            <input class="form-control" type="text" formControlName="fax"
                                                [ngClass]="{ 'is-invalid': submitted && myForm.fax.errors}">
                                            <!-- error -->
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm.fax.errors?.required">
                                                Fax is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="gstRegistrationType">Gst Registration Type <span
                                                    class="required">*</span></label>
                                            <input class="form-control" type="text"
                                                formControlName="gstRegistrationType"
                                                [ngClass]="{ 'is-invalid': submitted && myForm.gstRegistrationType.errors}">
                                            <!-- error -->
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm.gstRegistrationType.errors?.required">
                                                Gst Registration Type is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="address">Address</label>
                                            <input class="form-control" type="text" formControlName="address"
                                                [ngClass]="{ 'is-invalid': submitted && myForm.address.errors}">
                                            <!-- error -->
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm.address.errors?.required">
                                                Address is required.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <!-- <div class="col-md-3">
                            <div class="form-group">
                                <label for="taxInfo">Tax Info <span class="required">*</span></label>
                                <div>
                                    <select id="taxInfo" class="form-control" type="text" formControlName="taxInfo">
                                        <option value="" disabled>--Tax Info--</option>
                                        <option>Tax Reg. No.</option>
                                        <option>CST reg. no.</option>
                                        <option>PAN No.</option>
                                    </select>
                                </div>
                            </div>
                        </div> -->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="city">City</label>
                                            <input class="form-control" type="text" formControlName="city"
                                                [ngClass]="{ 'is-invalid': submitted && myForm.city.errors}">
                                            <!-- error -->
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm.city.errors?.required">
                                                City is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="state">State</label>
                                            <input class="form-control" type="text" formControlName="state"
                                                [ngClass]="{ 'is-invalid': submitted && myForm.state.errors}">
                                            <!-- error -->
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm.state.errors?.required">
                                                State is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="pincode">Pincode</label>
                                            <input class="form-control" type="text" formControlName="pincode"
                                                [ngClass]="{ 'is-invalid': submitted && myForm.pincode.errors}">
                                            <!-- error -->
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm.pincode.errors?.required">
                                                Pincode is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">


                                    <div class="col-md-3">

                                        <div class="form-group">
                                            <label for="description">notes</label>
                                            <input class="form-control" type="text" formControlName="notes"
                                                [ngClass]="{ 'is-invalid': submitted && myForm.notes.errors}">
                                            <!-- error -->
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm.notes.errors?.required">
                                                notes is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="notes">Tax Info number<span class="required">*</span></label>
                                            <input class="form-control" type="text" formControlName="taxInfoNo"
                                                [ngClass]="{ 'is-invalid': submitted && myForm.taxInfoNo.errors}">
                                            <!-- error -->
                                            <div *ngIf="submitted && myForm.taxInfoNo.errors" class="invalid-feedback">
                                                <div *ngIf="myForm.taxInfoNo.errors.required"> Tax Info number
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="notes">Tax Info <span class="required">*</span></label>
                                            <input class="form-control" type="text" formControlName="taxInfo"
                                                [ngClass]="{ 'is-invalid': submitted && myForm.taxInfo.errors}">
                                            <!-- error -->
                                            <div *ngIf="submitted && myForm.taxInfo.errors" class="invalid-feedback">
                                                <div *ngIf="myForm.taxInfo.errors.required"> Tax Info number
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success btn-lg col-md-3 update" type="submit">Update</button>
                                    <button class="btn btn-lg col-md-3 btn-danger" (click)="cancel()">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <app-footer></app-footer>
            <!-- End of Footer -->
        </div>
    </div>
</body>