.save {
  margin-left: 15px;
  }
  .ocount{
    margin-top: 10px;
   
  }
  b{
    color: red;  
  }
  .required{
    color: red;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  } 