<!-- Page Wrapper -->
<div id="wrapper">
    <app-side-bar></app-side-bar>


    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-header></app-header>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="card-body">
                    <div class="cotainer">
                        <form [formGroup]="addCustomerForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="firstName">First Name <span class="required">*</span></label>
                                        <input class="form-control" type="text" formControlName="firstName"
                                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors}">
                                        <!-- error -->
                                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                            <div *ngIf="f.firstName.errors.required">First Name is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="MIDDEL NAME">Middle Name <span class="required"></span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="lastName">Last Name <span class="required">*</span></label>
                                        <input class="form-control" type="text" formControlName="lastName"
                                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors}">
                                        <!-- error -->

                                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                            <div *ngIf="f.lastName.errors.required"> Last Name is required
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="email">Email <span class="required">*</span></label>
                                        <input class="form-control" type="email" formControlName="email"
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors}"
                                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                                        <!-- error -->

                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Please enter a valid Email
                                            </div>
                                            <div *ngIf="f.email.errors.pattern">please entere a valid Email
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="phone">Phone <span class="required">*</span></label>
                                        <input class="form-control" type="number" formControlName="phone"
                                            [ngClass]="{ 'is-invalid': submitted && f.phone.errors}"
                                            onKeyPress="if(this.value.length==10) return false;">
                                        <!-- error -->
                                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                            <div *ngIf="f.phone.errors.required"> Phone is required
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="company">Company <span class="required">*</span></label>
                                        <input class="form-control" type="text" formControlName="company"
                                            [ngClass]="{ 'is-invalid': submitted && f.company.errors}">
                                        <!-- error -->
                                        <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                                            <div *ngIf="f.company.errors.required"> Company is required
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="displayNameAs">Display Name <span class="required">*</span></label>
                                        <input class="form-control" type="text" formControlName="displayNameAs"
                                            [ngClass]="{ 'is-invalid': submitted && f.displayNameAs.errors}">
                                        <!-- error -->
                                        <div *ngIf="submitted && f.displayNameAs.errors" class="invalid-feedback">
                                            <div *ngIf="f.displayNameAs.errors.required"> Company is required
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="fax">Fax <span class="required">*</span></label>
                                        <input class="form-control" type="text" formControlName="fax"
                                            [ngClass]="{ 'is-invalid': submitted && f.fax.errors}">
                                        <!-- error -->
                                        <div *ngIf="submitted && f.fax.errors" class="invalid-feedback">
                                            <div *ngIf="f.fax.errors.required"> Company is required
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="gstRegistrationType">Gst Registration Type <span
                                                class="required">*</span></label>
                                        <div>
                                            <select id="gstRegistrationType" class="form-control" type="text"
                                                formControlName="gstRegistrationType"
                                                [ngClass]="{ 'is-invalid': submitted && f.gstRegistrationType.errors}">
                                                <option value="">--Gst Registration Type--</option>
                                                <option>Gst Registered</option>
                                                <option>Gst Unregistered</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="address">Address <span class="required">*</span></label>
                                        <input class="form-control" type="text" formControlName="address"
                                            [ngClass]="{ 'is-invalid': submitted && f.address.errors}">
                                        <!-- error -->
                                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                            <div *ngIf="f.address.errors.required"> Address is required
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="taxInfo">Tax Info <span class="required">*</span></label>
                                        <div>
                                            <select id="taxInfo" class="form-control" type="text"
                                                formControlName="taxInfo"
                                                [ngClass]="{ 'is-invalid': submitted && f.taxInfo.errors}">
                                                <option value="">--Tax Info--</option>
                                                <option>Tax Reg. No.</option>
                                                <option>CST reg. no.</option>
                                                <option>PAN No.</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="city">City<span class="required">*</span></label>
                                        <input class="form-control" type="text" formControlName="city"
                                            [ngClass]="{ 'is-invalid': submitted && f.city.errors}">
                                        <!-- error -->
                                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                            <div *ngIf="f.city.errors.required"> City is required
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="state">State<span class="required">*</span></label>
                                        <input class="form-control" type="text" formControlName="state"
                                            [ngClass]="{ 'is-invalid': submitted && f.state.errors}">
                                        <!-- error -->
                                        <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                            <div *ngIf="f.state.errors.required"> State is required
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="pincode">Pincode<span class="required">*</span></label>
                                        <input class="form-control" type="text" formControlName="pincode"
                                            [ngClass]="{ 'is-invalid': submitted && f.pincode.errors}">
                                        <!-- error -->
                                        <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                                            <div *ngIf="f.pincode.errors.required"> City is required
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">

                                    <div class="form-group">
                                        <label for="notes">Notes<span class="required">*</span></label>
                                        <input class="form-control" type="text" formControlName="notes"
                                            [ngClass]="{ 'is-invalid': submitted && f.notes.errors}">
                                        <!-- error -->
                                        <div *ngIf="submitted && f.notes.errors" class="invalid-feedback">
                                            <div *ngIf="f.notes.errors.required"> Notes is required
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="notes">Tax Info number<span class="required">*</span></label>
                                        <input class="form-control" type="text" formControlName="taxInfoNo"
                                            [ngClass]="{ 'is-invalid': submitted && f.taxInfoNo.errors}">
                                        <!-- error -->
                                        <div *ngIf="submitted && f.taxInfoNo.errors" class="invalid-feedback">
                                            <div *ngIf="f.taxInfoNo.errors.required"> Tax Info number
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="upload">Upload File</label>
                                        <input class="form-control" type="file" formControlName="files" multiple
                                            (change)="upload($event.target.files)" [ngClass]="{ 'is-invalid': submitted && f.files.errors}">
                                            <div *ngIf="submitted && f.files.errors" class="invalid-feedback">
                                                <div *ngIf="f.files.errors.required"> File  is required
                                                </div>
                                            </div>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <label for="notes">Credit Limit<span class="required">*</span></label>
                                    <input class="form-control" type="text"
                                        [ngClass]="{ 'is-invalid': submitted && f.notes.errors}">
                                    <!-- error -->
                                    <div *ngIf="submitted && f.notes.errors" class="invalid-feedback">
                                        <div *ngIf="f.notes.errors.required"> Credit Limit is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center col-md-12 col-lg-12 col-xs-6 col-sm-12"
                                style="    margin-left: -75px;">
                                <button class="btn btn-success btn-md col-md-2 " type="submitted">Save</button>
                                <button class="btn btn-success btn-md col-md-2 btn-danger save"
                                    type="reset">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>